streamlit==1.35.0
streamlit-authenticator==0.2.2
streamlit-autorefresh==1.0.1
extra-streamlit-components==0.1.56
st-pages==0.4.3
watchdog==3.0.0
numpy==1.25.0
Pillow==9.5.0
streamlit-webrtc==0.47.7
streamlit-server-state==0.17.1
matplotlib==3.9.0
openai==1.33.0
opencv-python==4.10.0.82
opencv-contrib-python
opencv-python-headless
opencv-contrib-python-headless
av
